<div class="content-wrapper">
  <div class="container">
    <div>
      <h1>Bitte bewerten sie example.de</h1>
      <img id="logo" src="../assets/images/company_logo.png">
      <div id="line"></div>
    </div>
    <div class="flex-container">
      <h2>Service</h2>
      <div class="sprite" (click)="selectStar(1)" (mouseover)="highlightStar(1)" (mouseout)="highlightStar(1)" [class.selected]="checkSelected(1)"></div>
      <div class="sprite" (click)="selectStar(2)" (mouseover)="highlightStar(2)" (mouseout)="highlightStar(2)" [class.selected]="checkSelected(2)"></div>
      <div class="sprite" (click)="selectStar(3)" (mouseover)="highlightStar(3)" (mouseout)="highlightStar(3)" [class.selected]="checkSelected(3)"></div>
      <div class="sprite" (click)="selectStar(4)" (mouseover)="highlightStar(4)" (mouseout)="highlightStar(4)" [class.selected]="checkSelected(4)"></div>
      <div class="sprite" (click)="selectStar(5)" (mouseover)="highlightStar(5)" (mouseout)="highlightStar(5)" [class.selected]="checkSelected(5)"></div>
    </div>
    <form id="form" (submit)="handleSend($event)">
      <label for="textfield">Ihr Kommentar zur Bewertung</label>
      <textarea #textarea id="textfield" rows="10" placeholder="Schildern Sie Ihre Erfahrungen und geben Sie Ihrer Bewertung eine persönliche Note."></textarea>
      <p class="length">Noch 400 Zeichen möglich</p>
      <div class="flexbox">
        <div class="col1">
          <label for="email" id="label-email">E-Mail-Adresse</label>
          <input #email type="email" id="email" />
          <button id="button" type="submit">Jetzt bewerten</button>
        </div>
        <div class="col2">
          <p class="msg">Ihre E-Mail-Adresse wird selbstverständlich nich veröffentlicht. Diese wird nur benötigt, um Ihnen nach Abgabe der Bewertung eine Bestätigungs-E-Mail zu schinken.</p>
        </div>
      </div>
    </form>
  </div>
</div>